@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: "Varela Round", sans-serif;
    transition: all 0.5s ease;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}