.courses {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;

    h2 {
        font-size: 36px;
        margin-bottom: 40px;
        background-color: transparent;
        max-width: 150px;
        padding: 10px 0px;
        border-radius: 10px;
        border: 1px solid #90EE90;
        color: #90EE90;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .courses-grid {
        h3 {
            font-size: 36px;
            margin-bottom: 40px;
            background-color: transparent;
            max-width: 800px;
            padding: 10px 0px;
            border-radius: 10px;
            color: #366636;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 1024px) {
        .courses-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .courses-grid {
            grid-template-columns: 1fr;
        }
    }
}