$footer-bg: #f8f9fa;
$text-main: #333;
$text-secondary: #666;
$green-color: #90EE90;
$border-color: #e0e0e0;
.footer-container {
    background-color: $footer-bg;
    padding: 60px 20px 20px;
    margin-bottom: 50px;
    border-radius: 40px;
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        gap: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $border-color;
    }

    .footer-brand {
        margin-left: 40px;

        .brand-logo {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 30px;

            img{
                max-width: 60px;
            }

            .logo-text {
                h2 {
                    margin: 0;
                    font-size: 22px;
                    color: $green-color;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    color: $text-secondary;
                }
            }
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 15px;

                .icon {
                    font-size: 18px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    color: $text-secondary;
                    line-height: 1.4;
                }
            }
        }
    }

    .footer-links {
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: $text-main;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 12px;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $text-secondary;
                    font-size: 15px;
                    transition: color 0.3s;
                    &:hover {
                        color: $green-color;
                    }
                }
            }
        }
    }

    .footer-bottom {
        max-width: 1200px;
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        color: #999;
    }
}

@media (max-width: 768px) {
    .footer-container {
        .footer-content {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 30px;
        }

        .footer-brand {
            .brand-logo {
                justify-content: center;
            }

            .contact-item {
                justify-content: center;
            }
        }

        .footer-bottom {
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }
}