.stats {
    text-align: center;
    padding: 40px 20px;

    h2 {
        font-size: 36px;
        margin-bottom: 40px;
        background-color: transparent;
        max-width: 310px;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: 800;
        border: 1px solid #90EE90;
        color: #90EE90;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 40px;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 80px;
    }
}
@media (max-width: 576px) {
    .stats {
        h2 {
            font-size: 22px;
            max-width: 220px;
            padding: 8px 0;
        }

        img {
            border-radius: 30px;
        }
    }
}
@media (max-width: 768px) {
    .stats {
        h2 {
            font-size: 28px;
            max-width: 260px;
        }

        img {
            border-radius: 50px;
        }
    }
}
@media (min-width: 1200px) {
    .stats {
        h2 {
            font-size: 40px;
        }

        img {
            border-radius: 100px;
        }
    }
}
